<!DOCTYPE html>
<html lang="en">
<!DOCTYPE html>
<html lang="en">
<head>


    <title>Team</title>
    <meta charset="utf-8">
    <meta name="Rick"/>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/bootstrap.min.css">
    <link rel="stylesheet" href="../static/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../static/icomoon.css">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
{#<style>#}
{#        .container {#}
{#            position: relative;#}
{##}
{#        }#}
{##}
{#        .topright {#}
{#            position: absolute;#}
{#            top: 0px;#}
{#            margin-left: 736px;#}
{#            font-size: 18px;#}
{#        }#}
{##}
{#        img {#}
{#            width: 450px;#}
{#            height: 350px;#}
{#            opacity: 0.9;#}
{#        }#}
{#    </style>#}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark probootstrap-navabr-dark">
    <div class="container">
        <a class="navbar-brand" href="/about">Project group 7</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-nav"
                aria-controls="probootstrap-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="probootstrap-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/application" class="nav-link">Application</a></li>
                <li class="nav-item"><a href="/database" class="nav-link">Database</a></li>
                <li class="nav-item"><a href="/about" class="nav-link">About</a></li>
            </ul>

        </div>
    </div>
</nav>

<section class="probootstrap-cover">
    <div class="container">
        <div class="row probootstrap-vh-75 align-items-center text-left">
            <div class="col-sm">
                <div class="probootstrap-text pt-5">
                    <h1 class="probootstrap-heading text-white mb-4">About </h1>
                    <div class="probootstrap-subheading mb-5">
                        <p class="h4 font-weight-normal">The Team</p>
                        <table style="width:50%" align="right">

                            <tr>
                                <th class=text-white><p class="h4 font-weight-normal"><a
                                        href="https://www.linkedin.com/in/rick-schoenmaker-8b8429165/"
                                        style="color:black">Rick Schoenmaker</p> </a></th>
                                <th class=text-white><p class="h4 font-weight-normal"><a
                                        href="https://nl.linkedin.com/in/janne-knuiman-2720aa17b/" style="color: black">Janne
                                    Knuiman</p></th>
                                <th class=text-white><p class="h4 font-weight-normal"><a
                                        href="https://www.linkedin.com/in/sanne-schröduer-393324158/"
                                        style="color: black">Sanne Schröduer</p></th>
                                <th class=text-white><p class="h4 font-weight-normal"><a
                                        href="https://www.linkedin.com/in/tjeerd-van-der-veen-28a200187/"
                                        style="color: black">Tjeerd van der Veen</p></th>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="probootstrap-section">
    <div class="container">
        <div class="row" a>
            <div class="col-md-7 pr-md-5 pr-0" style="position: absolute">
                <div style="position: absolute; top: -50px;  margin-left: 786px; font-size: 18px;"><img src="/static/ftb8.png" align="right" width="450px" height="350px" ></div>
                <h2 class="mb-5">Our Project</h2>
                    Team of Bioinformatics students that developed a textmining application for Bitter Gourd.<br/> This
                    application pulls data form the <a href="https://www.ncbi.nlm.nih.gov/pubmed/">PubMed database.</a><br/>
                    Article search was preformed only on the abstract and title.<br/>
                    Scoring for articles are as follows:<br/>
                    - Both disease and compound keywords found in the title: 10 points.<br/>
                    - Both disease and compound keywords found in abstract: 5 points.<br/>
                    - Disease in title and compound in abstract: 4 points.<br/>
                    - Compound in title and disease in abstract: 4 points<br/>
                    The PubMed database was questioned for articles with the following names in them:
                <br/>
                <br/>
                <div class="table-responsive col-md-7" style="position: relative; float: left">
                    <table style="width: 250%">
                        <tr>
                            <th>
                                Bittergourd synonyms:
                            </th>
                            <th>
                                Compounds:
                            </th>
                            <th>Diseases:</th>

                        </tr>
                        <tr>
                            <td>Bitter Melon</td>
                            <td>phenylalanine ammonia-lyase</td>
                            <td>coronary heart disease</td>
                        </tr>
                        <tr>
                            <td>African Cucumber</td>
                            <td>cinnamate 4-hydroxylase</td>
                            <td>cardiovascular disease</td>
                        </tr>
                        <tr>
                            <td>Ampalaya</td>
                            <td>4-coumaroyl CoA ligase</td>
                            <td>flu</td>
                        </tr>
                        <tr>
                            <td>Balsam Pear</td>
                            <td>caffeic acid 3-O-methyltransferase</td>
                            <td>pneumonia</td>
                        </tr>
                        <tr>
                            <td>Balsam-Apple</td>
                            <td>chalcone synthase</td>
                            <td>bronchitis</td>
                        </tr>
                        <tr>
                            <td>Balsambirne</td>
                            <td>chalcone isomerase</td>
                            <td>tuberculosis</td>
                        </tr>
                        <tr>
                            <td>Balsamo</td>
                            <td>flavanone-3-hydroxylase</td>
                            <td>high blood pressure</td>
                        </tr>
                        <tr>
                            <td>Bitter Apple</td>
                            <td>flavonol synthase</td>
                            <td>diabetes</td>
                        </tr>
                        <tr>
                            <td>Bitter Cucumber</td>
                            <td>dihydroflavonol 4-reductase</td>
                            <td>chronic obstructive pulmonary disease (COPD)</td>
                        </tr>
                        <tr>
                            <td>Bitter Gourd</td>
                            <td>flavonoid 3-O-glucosyltransferase</td>
                            <td>cancer</td>
                        </tr>
                        <tr>
                            <td>Bittergurke</td>
                            <td>gallic acid</td>
                            <td>obesity</td>
                        </tr>
                        <tr>
                            <td>Carilla Fruit</td>
                            <td>4-hydroxybenzoic acid</td>
                            <td>anorexia</td>
                        </tr>
                        <tr>
                            <td>Carilla Gourd</td>
                            <td>catechin hydrate</td>
                            <td>alzheimer</td>
                        </tr>
                        <tr>
                            <td>Cerasee</td>
                            <td>chlorogenic acid</td>
                            <td>dementia</td>
                        </tr>
                        <tr>
                            <td>Chinli-Chih</td>
                            <td>caffeic acid</td>
                            <td>cirrhosis</td>
                        </tr>
                        <tr>
                            <td>Cundeamor</td>
                            <td>epicatechin</td>
                            <td>arthritis</td>
                        </tr>
                        <tr>
                            <td>Fructus Mormordicae Grosvenori</td>
                            <td>p-coumaric acid</td>
                            <td>asthma</td>
                        </tr>
                        <tr>
                            <td>Karavella</td>
                            <td>ferulic acid</td>
                            <td>chron's disease</td>
                        </tr>
                        <tr>
                            <td>Kathilla</td>
                            <td>benzoic acid</td>
                            <td>epilepsy</td>
                        </tr>
                        <tr>
                            <td>Karela</td>
                            <td>rutin</td>
                            <td>dermatitis</td>
                        </tr>
                        <tr>
                            <td>Kareli</td>
                            <td>trans-cinnamic acid</td>
                            <td>eczema</td>
                        </tr>
                        <tr>
                            <td>Kerala</td>
                            <td>kaempferol</td>
                            <td>blood glucose</td>
                        </tr>
                        <tr>
                            <td>Kuguazi</td>
                            <td>protocatechuic acid</td>
                            <td>cholesterol</td>
                        </tr>
                        <tr>
                            <td>K'u-Kua</td>
                            <td>gentisic acid</td>
                            <td>inflammation</td>
                        </tr>
                        <tr>
                            <td>Lai Margose</td>
                            <td>catechin</td>
                            <td>infection</td>
                        </tr>
                        <tr>
                            <td>Melon Amargo</td>
                            <td>vanillic acid</td>
                            <td>death</td>
                        </tr>
                        <tr>
                            <td>Melon Amer</td>
                            <td>syringic acid</td>
                            <td>ulcer</td>
                        </tr>
                        <tr>
                            <td>Momordica</td>
                            <td>trans-ferulic acid</td>
                            <td>cough</td>
                        </tr>
                        <tr>
                            <td>Momordica charantia</td>
                            <td>sinapic acid</td>
                            <td>gout</td>
                        </tr>
                        <tr>
                            <td>Momordica murcata</td>
                            <td>O-courmaric acid</td>
                            <td>rheumatism</td>
                        </tr>
                        <tr>
                            <td>Momordique</td>
                            <td>vitamin B1</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Pepino Montero</td>
                            <td>vitamin B2</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>P'u-T'ao</td>
                            <td>vitamin B3</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sorosi</td>
                            <td>vitamin B6</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Sushavi</td>
                            <td>vitamin B9</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Vegetable insulin</td>
                            <td>vitamin B12</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Wild Cucumber</td>
                            <td>vitamin C</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>vitamin E</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>vitamin K</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>polypeptide-p</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>ricin</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>insulin</td>
                            <td></td>
                        </tr>
                    </table>
                    {#                  {% for x in gourd_names %}#}
                    {#                        <tr >#}
                    {#                          <tr>#}
                    {#                           <td>#}
                    {#                              {% print x %}#}
                    {#                          </td>#}
                    {#                          </tr>#}
                    {##}
                    {#                        {% endfor %}#}
                    {#          </table>#}
                    {#          </div>#}
                    {#          <div class="table-responsive col-md-7"style="position: relative; float: left">#}
                    {#              <table style="...">#}
                    {#                  <tr>#}
                    {#                                         <th>#}
                    {#                          Compounds:#}
                    {#                      </th>#}
                    {#                  </tr>#}
                    {##}
                    {#                      {% for x in compound_names %}#}
                    {##}
                    {#                          <tr>#}
                    {#                          <td>#}
                    {#                              {% print x %}#}
                    {#                          </td>#}
                    {#                          </tr>#}
                    {##}
                    {#                  {% endfor %}#}
                    {##}
                    {##}
                    {#              </table>#}
                    {#          </div>#}
                    {#          <div class="table-responsive col-md-7" style="position: relative; float: right">#}
                    {#          <table style="...">#}
                    {#              <tr>#}
                    {#                                    <th>#}
                    {#                          Diseases:#}
                    {#                      </th>#}
                    {#                  </tr>#}
                    {##}
                    {#                  {% for x in disease_names %}#}
                    {##}
                    {#                          <td>#}
                    {#                              {% print x %}#}
                    {#                          </td>#}
                    {#                      </tr>#}
                    {#                  {% endfor %}#}
                    {#              </table>#}
                </p>

            </div>
        </div>
    </div>
</section>


</body>
</html>
